{% extends 'layout.html' %}

{% block body %}

<font color = "white">
<h1 align="center">ACTUALIZA</h1>
<h3 align="center">Bienvenido {{session.username}}</h3>
</font>
<div class="container" align="center">
  <br><br>
    <div class="row">
      <!--<div class="col-sm">
        <a href="/posts" class="btn btn-outline-primary">Posts</a>
      </div>
      <br>
      <br>-->
      <div class="col-sm">
          <a href="/posts" class="btn btn-lg btn-default">Posts</a>

        <a href="/comments" class="btn btn-lg btn-default">Comments</a>
      
        <a href="/score" class="btn btn-lg btn-default">Analyze</a>
      </div>
    </div>
  </div>

{% endblock %}