{% extends 'layout.html' %}

{% block body %}
<div class="container" align="center">
<font color = "white">
<h2 align="center">Actualiza tu Informacion {{session.username}}</h2>


  <br><br>
<h3>Selecciona una Opcion</h3>
<br><br>
<div class="row">
    <div class="col-sm">
        <a href="/posts" class="btn btn-lg btn-default">Posts</a>

      <a href="/comments" class="btn btn-lg btn-default">Comments</a>
    
      <a href="/score" class="btn btn-lg btn-default">Sentiment</a>
    </div>
  </div>
  </div>
</font>
{% endblock %}